<br/>
<br/>
<br/>
<h3>{{titre}}</h3>

<div *ngFor="let article of listeArticles; let i = index; ">
    <fieldset [class]="article.categorie== 'Education'? 'blue-color' : '' " *ngIf="article.categorie!=='Travail'&& nombreArticle>=i+1">
        <legend>{{article.titre}}</legend>
        <label >Auteur : {{article.auteur}}</label>
        <label >Date : {{article.date}}</label>
        <label >Contenu : {{article.contenu}}</label>
    </fieldset>
</div>
<br/>
<br/>
<input type="text" [(ngModel)]="nombreArticle">